<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite>
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./tests/codeCoverage" charset="UTF-8"/>
    </logging>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>tests</directory>
        </blacklist>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>
